.custom-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
  height: 100px;
  width: 70px;
  background-color: #f5f0f0;
  margin: 5px;
  flex-wrap: wrap;
}

img {
  width: 50px;
  height: 50px;
}
h6 {
  margin: 0;
  font-weight: 600;
  font-size: 10px;
}

.subtitle {
  color: #666;
}

.mat-elevation-z4 {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}
