<mat-card class="container">
    <div class="title">
        <div style="background-color: rgb(147, 202, 202); padding:  5px; border-radius: 3px;">No : <span>{{submittedData?.id | uppercase}}</span></div>
        <p style="color: green;">{{'Successful'}}</p>
    </div>
    <div class="image" style="background-color: whitesmoke; padding: 5px; border-radius: 5px; margin: 10px;">
        <img [src]="submittedData?.url" height="50" width="50" />
        <span style="margin-left: 10px;">{{submittedData?.imageName}} X 1</span>
    </div>
    <div class="price_details">
        <div class="product">
            <p>Product price</p>
            <div style="flex: 1"></div>
            <h5>{{submittedData?.price | number:'1.2-2'}}</h5>
        </div>
        <div class="profit">
            <p>Profit</p>
            <div style="flex: 1"></div>

            <h5>{{submittedData?.price * 0.5 | number:'1.2-2'}}</h5>
        </div>
        <div class="return">
            <p>Return</p>
            <div style="flex: 1"></div>
            <h5>{{submittedData?.price * 1.5 | number:'1.2-2'}}</h5>
        </div>
    </div>
    <mat-divider></mat-divider>
    <p style="margin-top: 10px;">{{submittedData?.time.toDate() | date: 'dd-MM-yyyy H:MM:SS'}}</p>
</mat-card>