<nav class="bottom-nav">
    <a routerLink="/home" class="tab" routerLinkActive="active">
        <div>
            <mat-icon>home</mat-icon> Home
        </div>
    </a>
    <a routerLink="/service" class="tab" routerLinkActive="active">
        <div>
            <mat-icon>chat</mat-icon> Service
        </div>
    </a>
    <a routerLink="/play" class="tab" routerLinkActive="active">
        <div>
            <mat-icon>favorite</mat-icon> Play
        </div>
    </a>
    <a routerLink="/orders" class="tab" routerLinkActive="active">
        <div>
            <mat-icon>list</mat-icon> Order
        </div>
    </a>
    <a routerLink="/accounts" class="tab" routerLinkActive="active">
        <div>
            <mat-icon>account_circle</mat-icon> Account
        </div>
    </a>
</nav>