.dynamic-card {
    margin: 5px 10px;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
  
    &:hover {
      transform: scale(1.05);
    }

    .card-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 5px;

      span {
        font-size: 14px;
        font-weight: 600;
        color: beige;
      }
    }
  }
  