.container {
  padding: 20px;
}

.heading {
  font-size: 14px;
  font-weight: bold;
  text-align: justify;
  line-height: 20px;
  margin-bottom: 10px;
}
.para {
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
  line-height: 24px;
  margin-bottom: 10px;
}
