<app-title-header title="Accounts"></app-title-header>
<div class="background-container">
    <div style="display: flex; justify-content: flex-end; padding: 5px;">
        <button mat-raised-button color="primary" (click)="logout()"> Logout</button>
    </div>
    <div class="container">
        <app-profile-card [user]="user"></app-profile-card>
        <app-price-card [user]="user"></app-price-card>
        <app-mission-card [user]="user"></app-mission-card>
    </div>
</div>


<app-tabs></app-tabs>