<app-title-header title="Details"></app-title-header>
<div class="background-container">


    <mat-tab-group>
        <mat-tab label="Ranking Tasks" style="background-color: beige;">
            <app-ranking [randomData]="vipOneRandomData" [originalData]="vipOneOriginalData" *ngIf="isVipOneEnabled"></app-ranking>
            <app-ranking [randomData]="vipTwoRandomData" [originalData]="vipTwoOriginalData" *ngIf=" isVipTwoEnabled"></app-ranking>
            <div style="height: auto; overflow-y: scroll; min-height: 400px;">
                <app-submitted-cards *ngFor="let item of submittedVipTwoData" [user]="user" [submittedData]="item"></app-submitted-cards>
                <app-submitted-cards *ngFor="let item of submittedData" [user]="user" [submittedData]="item"></app-submitted-cards>
            </div>

            <div style="margin-bottom: 100px;"></div>
            <app-tabs></app-tabs>
        </mat-tab>
        <mat-tab label="Reading">

            <div class="file-upload-container">
                <button mat-raised-button color="primary" (click)="fileInput.click()">Upload File</button>
                <input type="file" #fileInput (change)="onFileSelected($event)" hidden>
            </div>
            <div class="progress_bar">
                <p *ngIf="uploadProgress | async as progress">{{ progress }}%</p>
                <mat-progress-bar *ngIf="uploadProgress | async as progress" mode="determinate" [value]="progress"></mat-progress-bar>
            </div>
            <!-- <app-nodata [imageUrl]="reading.imageUrl"
                [title]="reading.title"></app-nodata> -->
            <app-tabs></app-tabs>
        </mat-tab>

    </mat-tab-group>

</div>