<app-title-header title="Home"></app-title-header>
<div class="container">
    <div class="carousel">

    </div>

    <div class="container__reading-cards">
        <app-small-card *ngFor="let card of cards" [link] ="card.link" [imageUrl]="card.imageUrl" [title]="card.title" [backgroundColor]="card.backgroundColor">
        </app-small-card>
    </div>

    <div class="container__firstRow">
        <app-cards *ngFor="let item of firstRow" [imageUrl]="item.img" [title]="item.title" [subtitle]="item.subTitle" [link]="item.link"> </app-cards>
    </div>
    <div class="container__card">
        <div class="dynamic-card" [style.background-color]="banner.backgroundColor">
            <img [src]="banner.imageUrl" alt="Card Image" height="50px" width="50px" style="margin-right: 10px;" >
            <div class="content">
                <p style="margin-top: 10px; font-size: 14px; font-weight: bold; color: white;">Lucky Draw</p>
                <span>Pay 1000 and get a chance to win iphone 15</span>
            </div>
           
    </div>
    </div>

    <div class="container__secondRow">
        <app-cards *ngFor="let item of secondRow" [imageUrl]="item.img" [title]="item.title" [subtitle]="item.subTitle" [link]="item.link"> </app-cards>
    </div>
    <app-banner [imageUrl]="subscription.imageUrl" [title]="subscription.title" [backgroundColor]="subscription.backgroundColor"></app-banner>
    <div class=" container__scrollview" >
        <div class="container__scrollview-product-list">
            <app-products *ngFor="let product of products" [product]="product"> </app-products>
        </div>
        <div style="margin-bottom: 100px;"></div>
    </div>
</div>

<app-tabs></app-tabs>