.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: white;

  &__reading-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__firstRow,
  &__secondRow {
    display: flex;
    flex-direction: row;
  }

  &__card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  &__scrollview {
    height: auto;
    min-height: 500px;
    overflow-y: auto;
   

    &-product-list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      gap: 10px;
    }
  }
}

.dynamic-card {
  padding: 5px 15px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  &:hover {
    transform: scale(1.05);
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      margin: 0;
    }
    
    span {
      color: white;
      font-size: 12px;
    }
  }
 
}
