.dynamic-card {
  padding: 5px 15px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  &:hover {
    transform: scale(1.05);
  }
  img {
    width: 60px;
  }
  h2 {
    color: white;
    margin-top: 10px;
    font-size: 16px;
  }
 
}
