<mat-card class="card-container">
    <div class="card-container__balance">
        <img src ="../../../assets/dollar-coins.png" style="height: 40px; width: 40px;">
        <div class="text">
            <p class="balance">Account Balance</p>
            <h5 class="money">₹ {{totalInvested?.totalInvested}}</h5>
        </div>
    </div>

    <div class="card-container__details">
        <div class="earnings">
            <p>₹ {{profit?.profit}}</p>
            <h5>Earns Today</h5>
        </div>
        <div class="earnings">
            <p>{{count?.taskCount}}</p>
            <h5>Done</h5>
        </div>
        <div class="earnings">
            <p>₹ 0</p>
            <h5>Earned Yesterday</h5>
        </div>
    </div>
</mat-card>