<div class="carousel">
    <button mat-icon-button (click)="prevSlide()">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <div class="slides-container">
      <div class="slide" *ngFor="let slide of slides" [ngStyle]="{'transform': 'translateX(' + (-currentIndex * 100) + '%)'}">
        <!-- Your slide content here -->
        <img [src]="slide.image" alt="Slide {{slide.id}}">
        <h3>{{slide.title}}</h3>
        <p>{{slide.description}}</p>
      </div>
    </div>
    <button mat-icon-button (click)="nextSlide()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
  